**1. Приведите по 2 примера, когда лучше максимизировать Precision, а когда Recall.**

Precision - доступ по отпечатку пальцев, проверка пароля (важен 100% precision).

Recall - интернет поиск, выбор потенциальных лидов (клиентов).

**2. Почему мы используем F-меру, почему, например, нельзя просто взять среднее от Precision и Recall?**

F-мера вычесляет среднее гармоническое, а не среднее арифметическое. Среднее гармоническое учитывает параметры, тем самым даёт нам более точное значение с теми или иными параметрами.

**Скачать данные из соревнования, пока можете работать только с train.csv. Считать их.**

In [1]:
import numpy as np
import pandas as pd

DATA_TRAIN_PATH = 'train.csv'

In [2]:
df = pd.read_csv(DATA_TRAIN_PATH)
df.head()

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
0,Own Home,482087.0,NaN,0.0,11.0,26.3,685960.0,1.0,NaN,1.0,debt consolidation,Short Term,99999999.0,47386.0,7914.0,749.0,0
1,Own Home,1025487.0,10+ years,0.0,15.0,15.3,1181730.0,0.0,NaN,0.0,debt consolidation,Long Term,264968.0,394972.0,18373.0,737.0,1
2,Home Mortgage,751412.0,8 years,0.0,11.0,35.0,1182434.0,0.0,NaN,0.0,debt consolidation,Short Term,99999999.0,308389.0,13651.0,742.0,0
3,Own Home,805068.0,6 years,0.0,8.0,22.5,147400.0,1.0,NaN,1.0,debt consolidation,Short Term,121396.0,95855.0,11338.0,694.0,0
4,Rent,776264.0,8 years,0.0,13.0,13.6,385836.0,1.0,NaN,0.0,debt consolidation,Short Term,125840.0,93309.0,7180.0,719.0,0

**1. Посчитать основные статистики по каждому признаку (минимальные, максимальные, средние значения). Сделать выводы об адекватности этих статистик.**

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Home Ownership                7500 non-null   object
 1   Annual Income                 5943 non-null   float64
 2   Years in current job          7129 non-null   object
 3   Tax Liens                     7500 non-null   float64
 4   Number of Open Accounts       7500 non-null   float64
 5   Years of Credit History       7500 non-null   float64
 6   Maximum Open Credit           7500 non-null   float64
 7   Number of Credit Problems     7500 non-null   float64
 8   Months since last delinquent  3419 non-null   float64
 9   Bankruptcies                  7486 non-null   float64
 10  Purpose                       7500 non-null   object
 11  Term                          7500 non-null   object
 12  Current Loan Amount           7500 non-null   float64
 13  Current Credit Balance        7500 non-null   float64
 14  Monthly Debt                  7500 non-null   float64
 15  Credit Score                  5943 non-null   float64
 16  Credit Default                7500 non-null   int64
dtypes: float64(12), int64(1), object(4)
memory usage: 996.2+ KB

In [4]:
for column_name in df.select_dtypes(include=['float64','int64']).columns:
    print('Column name: {columnName} \n' 
          'Column min: {columnMin} \n' 
          'Column mean: {columnMean} \n' 
          'Column max: {columnMax} \n\n############\n'.format(columnName = column_name, 
                                                              columnMin = df[column_name].min(), 
                                                              columnMean = df[column_name].mean(), 
                                                              columnMax = df[column_name].max()))

Column name: Annual Income
Column min: 164597.0
Column mean: 1366391.7201749957
Column max: 10149344.0

############

Column name: Tax Liens
Column min: 0.0
Column mean: 0.030133333333333335
Column max: 7.0

############

Column name: Number of Open Accounts
Column min: 2.0
Column mean: 11.130933333333333
Column max: 43.0

############

Column name: Years of Credit History
Column min: 4.0
Column mean: 18.317466666666668
Column max: 57.7

############

Column name: Maximum Open Credit
Column min: 0.0
Column mean: 945153.7274666667
Column max: 1304726170.0

############

Column name: Number of Credit Problems
Column min: 0.0
Column mean: 0.17
Column max: 7.0

############

Column name: Months since last delinquent
Column min: 0.0
Column mean: 34.69260017548991
Column max: 118.0

############

Column name: Bankruptcies
Column min: 0.0
Column mean: 0.11715201709858403
Column max: 4.0

############

Column name: Current Loan Amount
Column min: 11242.0
Column mean: 11873177.445066666
Column max: 99999999.0

############

Column name: Current Credit Balance
Column min: 0.0
Column mean: 289833.2352
Column max: 6506797.0

############

Column name: Monthly Debt
Column min: 0.0
Column mean: 18314.454133333333
Column max: 136679.0

############

Column name: Credit Score
Column min: 585.0
Column mean: 1151.0874978966851
Column max: 7510.0

############

Column name: Credit Default
Column min: 0
Column mean: 0.28173333333333334
Column max: 1

############

Вывод: -/+ всё в порядке !? (не уверен, так как не очень понимаю правильно-ли я анализирую эти данные)

**2. Посчитать для каждого признака, сколько в нем уникальных значений и как часто они встречаются. Сделать выводы по каждому признаку.**

In [5]:
for column_name in df.columns:
    print('Column name: {columnName} \n'
          'Column unique:\n{columnUniqueCounts} \n\n############\n'.format(columnName = column_name,
                                                                           columnUniqueCounts = df[column_name].value_counts().sort_values()))

Column name: Home Ownership
Column unique:
Have Mortgage      12
Own Home          647
Rent             3204
Home Mortgage    3637
Name: Home Ownership, dtype: int64

############

Column name: Annual Income
Column unique:
1207887.0    1
1742756.0    1
846887.0     1
1202586.0    1
2226192.0    1
            ..
1058376.0    4
969475.0     4
1338113.0    4
1161660.0    4
1043651.0    4
Name: Annual Income, Length: 5478, dtype: int64

############

Column name: Years in current job
Column unique:
9 years       259
8 years       339
7 years       396
6 years       426
4 years       469
1 year        504
5 years       516
< 1 year      563
3 years       620
2 years       705
10+ years    2332
Name: Years in current job, dtype: int64

############

Column name: Tax Liens
Column unique:
7.0       1
6.0       2
5.0       2
4.0       6
3.0      10
2.0      30
1.0      83
0.0    7366
Name: Tax Liens, dtype: int64

############

Column name: Number of Open Accounts
Column unique:
41.0      1
42.0      1
38.0      1
35.0      1
43.0      1
37.0      2
34.0      2
32.0      6
31.0      6
33.0      6
29.0     10
30.0     11
26.0     12
27.0     14
28.0     14
2.0      28
25.0     32
22.0     49
24.0     50
23.0     59
21.0     78
20.0     93
3.0      95
19.0    139
18.0    143
4.0     212
17.0    232
16.0    265
15.0    313
5.0     325
14.0    420
13.0    465
6.0     504
12.0    562
7.0     613
8.0     638
10.0    677
11.0    692
9.0     728
Name: Number of Open Accounts, dtype: int64

############

Column name: Years of Credit History
Column unique:
41.6      1
40.7      1
43.3      1
4.9       1
37.2      1
       ...
17.5     83
17.0     86
16.5     91
16.0     99
15.0    104
Name: Years of Credit History, Length: 408, dtype: int64

############

Column name: Maximum Open Credit
Column unique:
719686.0      1
427174.0      1
285098.0      1
166166.0      1
1621994.0     1
             ..
424864.0      3
443630.0      3
607046.0      3
319110.0      5
0.0          65
Name: Maximum Open Credit, Length: 6963, dtype: int64

############

Column name: Number of Credit Problems
Column unique:
7.0       1
6.0       4
5.0       7
4.0       9
3.0      35
2.0      93
1.0     882
0.0    6469
Name: Number of Credit Problems, dtype: int64

############

Column name: Months since last delinquent
Column unique:
92.0      1
84.0      1
118.0     1
91.0      1
86.0      1
         ..
19.0     65
8.0      68
33.0     68
29.0     71
14.0     76
Name: Months since last delinquent, Length: 89, dtype: int64

############

Column name: Bankruptcies
Column unique:
4.0       2
3.0       7
2.0      31
1.0     786
0.0    6660
Name: Bankruptcies, dtype: int64

############

Column name: Purpose
Column unique:
renewable energy           2
vacation                   8
educational expenses      10
moving                    11
wedding                   15
small business            26
buy house                 34
take a trip               37
major purchase            40
medical bills             71
buy a car                 96
business loan            129
home improvements        412
other                    665
debt consolidation      5944
Name: Purpose, dtype: int64

############

Column name: Term
Column unique:
Long Term     1944
Short Term    5556
Name: Term, dtype: int64

############

Column name: Current Loan Amount
Column unique:
356510.0        1
509036.0        1
434500.0        1
521708.0        1
129734.0        1
             ...
265826.0        5
216106.0        5
89298.0         6
218064.0        6
99999999.0    870
Name: Current Loan Amount, Length: 5386, dtype: int64

############

Column name: Current Credit Balance
Column unique:
209741.0     1
298490.0     1
568822.0     1
492974.0     1
203205.0     1
            ..
198911.0     4
155059.0     4
83638.0      4
191710.0     5
0.0         53
Name: Current Credit Balance, Length: 6592, dtype: int64

############

Column name: Monthly Debt
Column unique:
14224.0    1
74778.0    1
18039.0    1
14046.0    1
41024.0    1
          ..
12371.0    3
10987.0    3
19222.0    4
19667.0    4
0.0        6
Name: Monthly Debt, Length: 6716, dtype: int64

############

Column name: Credit Score
Column unique:
620.0       1
6160.0      1
619.0       1
6060.0      1
6470.0      1
         ...
742.0     151
745.0     152
748.0     157
747.0     168
740.0     169
Name: Credit Score, Length: 268, dtype: int64

############

Column name: Credit Default
Column unique:
1    2113
0    5387
Name: Credit Default, dtype: int64

############

**3. Используя выводы из двух предыдущих заданий, найдите те наблюдения, где есть пропуски, выбросы (неадекватные значения признака, которые отличаются от большинства), используя фильтрацию из pandas.**

In [6]:
df.isna().sum()

Home Ownership                     0
Annual Income                   1557
Years in current job             371
Tax Liens                          0
Number of Open Accounts            0
Years of Credit History            0
Maximum Open Credit                0
Number of Credit Problems          0
Months since last delinquent    4081
Bankruptcies                      14
Purpose                            0
Term                               0
Current Loan Amount                0
Current Credit Balance             0
Monthly Debt                       0
Credit Score                    1557
Credit Default                     0
dtype: int64

In [7]:
for column_name in df:
    missings = df[column_name].isna().sum() / df.shape[0] * 100
    print(f"{column_name} missings -> {missings}%")

Home Ownership missings -> 0.0%
Annual Income missings -> 20.76%
Years in current job missings -> 4.946666666666666%
Tax Liens missings -> 0.0%
Number of Open Accounts missings -> 0.0%
Years of Credit History missings -> 0.0%
Maximum Open Credit missings -> 0.0%
Number of Credit Problems missings -> 0.0%
Months since last delinquent missings -> 54.413333333333334%
Bankruptcies missings -> 0.18666666666666668%
Purpose missings -> 0.0%
Term missings -> 0.0%
Current Loan Amount missings -> 0.0%
Current Credit Balance missings -> 0.0%
Monthly Debt missings -> 0.0%
Credit Score missings -> 20.76%
Credit Default missings -> 0.0%